

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}
#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}

#footer li a {
    color: #DDD;
}

/*.myfooter {
    text-align: center;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    line-height: 3;
    /position: fixed;
    bottom: 0;
    z-index: 1;
}*/

footer{
	text-align: center;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	line-height: 3;
	position: fixed;
	bottom: 0;
}
