*, *:before, *:after
{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}  

body{
	background-color: #f7f4f4;
}

/*Elimina las flechas de los input de tipo numérico*/
		input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
		input[type=number] {
			-moz-appearance:textfield;
		}

.myWidth{
	position: absolute;
}

.colorRequired{
	font-size: 11px;
	color: #f4818b;
}

.myMarginTop50
{
	margin-top:50px;
}

.myPosition
{
	width: 100%;
}


.myRed{
	color: red;
	width: 20px !important;
	height: 20px !important;

}

.myWidth20
{
	width: 210px !important;
}

.myWidth15
{
	width: 150px !important;
}

.radiogroup
{
	padding: 10px;
}

.labelstyle
{
	font-weight: bold;
}

.colorSection
{
	background-color: white;
}

.colorFond
{
	color: black;
}

.simpleMargin25
{
	margin-top: 25px;
}

.simplePadding10
{
	margin-top: 10px !important;
}

.simplePadding15
{
	margin-top: 15px;
}

.simpleMargin
{
	margin: 15px;
}
.Padding15
{
	margin: 1px;
	padding: 15px 15px;
	background: rgba(0, 0, 0, 0.04);
}

.Padding15Max
{
	margin: 10px;
	padding: 15px 15px;
	background: rgba(0, 0, 0, 0.03);
}

.border2
{
	border: 2px solid;
	border-radius: 7px;
	border-color: #59b759;
}

.iconPresentation
{
    font-size: 200px;
    padding: 30px;
}

.labelPresentation
{
	font-size: 50px;
}

.CenterElement
{
	text-align: center;
	
}

.iconPadding, .iconPaddingCancel
{
	padding: 5px;
}

.iconPadding:hover
{
	background: #bef4f4; 
	color: green;
}

.iconPaddingCancel:hover
{
	background-color: red;
	color: white;
}

.aFormat
{
    padding: 0 4px;
}

.colorGraySimple
{
	background-color: #DCDCDC; 
}

/**Images**/
.upload
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; 
}

.upload + label
{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}
.uploadImg
{
    border: 2px dashed #919191;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 145px !important;
    color:green;
    font:20px Impact;   
    margin:-1px;
}

/**End images**/

/* make sidebar nav vertical */ 
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        position:fixed; 
        width:100%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    /*background-color:white; */
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .myImageMenu{
    margin-left: 45px; width: 200px; height: 200px;
  }
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    /*margin-top: 0;*/
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }
 } 