body
{
	background-color: rgba(0, 0, 0, 0.12);
	font-family: 'Raleway', sans-serif;
}

form {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
    
}